<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Material Safety Data Sheet</h1>

<p>Data Printed: 224.12.2015</p>

<h2>1 - Product and Company Information</h2>
<p>Product Name: [2-(phenylsulfonyl)-2-(2-thienyl)ethyl]amine hydrochloride<br/>
Company: Otava Chemicals<br/>
Phone: +1-416-549-8030<br/>
Fax: +1-866-881-9921</p>

<h2>2 - Composition/Information on Ingredients</h2>
<p>Product Name: [2-(phenylsulfonyl)-2-(2-thienyl)ethyl]amine hydrochloride<br/>
CAS#: N/A<br/>
Formula: C12H14ClNO2S2<br/>
Molecular Weight: 303.83</p>

<h2>3 - Hazards Identification</h2>
<p>Physical/chemical hazards:Nonflammable, nonexplosive,<br/>
Human health hazards:Data not available<br/>
Environmental hazards:No environmental hazards have been reported.</p>

<h2>4 - First Aid Measures</h2>
<p>If swallowed, wash out mouth with water provided person is conscious. Call a physician. If inhaled, remove to fresh air. If not
breathing give artificial respiration. If breathing is difficult, give oxygen In case of contact, immediately wash skin with soap an
copious amounts of water. In case of contact, immediately flush eyes with copious amounts of water for at least 15 minutes.</p>


<h2>5 - Fire Fighting Measures</h2>

<p>Extinguishing media:<br/>
    &nbsp;&nbsp;Water spray<br/>
    &nbsp;&nbsp;Carbon dioxide, dry chemical powder or appropriate foam.<br/>
Unusual fire and explosions hazards<br/>
    &nbsp;&nbsp;Emits toxic fumes under fire conditions.<br/>

Special firefighting procedures:<br/>
    &nbsp;&nbsp;Wear self-contained breathing apparatus and<br/>
    &nbsp;&nbsp;protective clothing to prevent contact with skin and eyes.</p>

<h2>6 - Accidental Release Measures</h2>
<p>Wear respirator, chemical safety goggles, rubber boots and heavy rubber gloves.<br/>
Sweep up, place in a bag and hold for waste disposal.<br/>
Avoid raising dust. Ventilate area and wash spill site after material pickup is complete.</p>


<h2>7 - Handling and Storage</h2>
<p>HANDLING: Directions for Safe Handling: Do not breathe vapour. Avoid contact with eyes, skin, and clothing.
Avoid prolonged or repeated exposure.</p>
<p>STORAGE: at room temperature</p>
<p>SPECIAL REQUIREMENTS: -</p>

<h2>8 - Exposure Controls / Personal Protection</h2>
<p>Safety shower and eye bath. Mechanical exhaust required.<br/>
Wash thoroughly after handling. Wash contaminated clothing before reuse.<br/>
Avoid contact with eyes, skin and clothing. Avoid prolonged or repeated exposure.<br/>
Avoid inhalation. NIOSH/MSHA-approved respirator.<br/>
Compatible chemical-resistant gloves. Chemical safety goggles.<br/>
Keep tightly closed. Store in a dry place at room temperature.</p>

<h2>9 - Physical and Chemical Properties</h2>

<p>Physical State: Light yellow powder<br/>
Odour: Almost odourless<br/>
Melting Point: 180C<br/>
Boiling Point: 180C</p>



<h2>10 - Stability and Reactivity</h2>

<p>STABILITY
Stable: Stable under normal temperatures and pressuresБик.<br/>
Conditions of Instability: -<br/>
Materials to Avoid: Strong oxidizing agents, Strong acids.<br/>
HAZARDOUS DECOMPOSITION PRODUCTS<br/>
Hazardous Decomposition Products: Carbon monoxide, Carbon dioxide, Nitrogen oxides, Fluorine compounds.<br/>
HAZARDOUS POLYMERIZATION<br/>
Hazardous Polymerization: Will not occur</p>

<h2>11 - Toxicological Information</h2>

<p>No toxicological information is available on the product<br/>
Acute effects:<br/>
&nbsp;&nbsp;May cause skin irritation.<br/>
&nbsp;&nbsp;May cause eye irritation.<br/>
&nbsp;&nbsp;Material may be irritating to mucous membranes and upper respiratory tract.<br/>
&nbsp;&nbsp;May be harmful by inhalation, ingestion, or skin absorption.<br/>
To the best of our knowledge, the chemical, physical and toxicological properties have not been thoroughly investigated.</p>

<h2>12 - Ecological Information</h2>
<p>No environmental hazards have been reported</p>

<h2>13 - Disposal Considerations</h2>
<p>SUBSTANCE DISPOSAL<br/>
Contact a licensed professional waste disposal service to dispose of this material. Dissolve or mix the material with a
combustible solvent and burn in a chemical incinerator equipped with an afterburner and scrubber. Observe all federal, state,
and local environmental regulations.</p>

<h2>14 - TRANSPORTATION DATA</h2>
<p>Not regulated per U.S. DOT, IATA or IMO.<br/>
Proper Shipping Name: None<br/>
Non-Hazardous for Transport: This substance is considered to be non-hazardous for transport.<br/>
IATA<br/>
Non-Hazardous for Air Transport: This substance is considered to be non-hazardous for air transport.</p>

<h2>15 - REGULATORY DATA</h2>
<p>U.S. Federal Regulations: This product is not currently regulated by SARA/EPCRA<br/>
TSCA: No. R&D Use Only</p>

<h2>16 - OTHER INFORMATION</h2>

<p>Otava has compiled the information and recommendations contained in this Material Safety Data Sheet from sources
believed to be reliable and to represent the most reasonable current opinion on the subject when the MSDS was prepared.
While the above information is believed to be accurate, no warranty, guaranty, or representation is made as to the correctness
or sufficiency of the information and the information is intended only as a guide. Otava shall not be held liable for any damage resulting from handling or
from contact with this product. The user of this product must decide what safety measures are necessary to safely use this product, either alone or in combination with other products, and determine environmental regulatory compliance obligations under any applicable Federal or State Laws.</p>
</body>
</html>