
#jsme_container{
    float: left;
}

#list_of_prop {
    float: left;
    width: 47%;
    margin-right: 10px;
}

#formula_price {
    float: left;
    width: 47%;
}

#podval, div.mass, div.navigate {
    clear: both;
    padding-top: 10px;
}

.otstup {
    clear: both; margin-bottom: 30px;
}

div.mass p {
    font-weight: bold;
}

.red {
    color: #ff0000;
}
.green {
    color:rgb(74, 163, 37);
}

table.molecula_property {
    border-collapse: collapse;
    width: 100%;
}

table.molecula_property td,th{
    padding: 4px;
    border: 1px solid #cccccc;
}

table.molecula_property th {
    text-align: center;
    border-bottom: solid 1px #808080;
}

table.molecula_property td:nth-child(1){
    font-weight: bold;
}

table.molecula_property tr:nth-child(odd) {
    background-color: #e4e4e4;
}

/* BUTTONS */


/* Structure Search */

button.strsearch, a.strsearch {
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
    background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
    background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
    background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
    background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
    background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
    background-color:#268a16;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:10px;
    border:1px solid #268a16;
    display:inline-block;
    cursor:pointer;
    color:#306108!important;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:14px;
    font-weight:bold !important;
    padding:7px 14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #aade7c;
    min-width: inherit;
}
a.strsearch:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
    background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
    background-color:#69C121;
    text-decoration:none;
    color:#306108!important;
}
a.strsearch:active {
    position:relative;
    top:1px;
}

/* dialog form */

.wrapper{
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 65535;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.form-action{
    width: 320px;
    height: 425px;
    position: fixed;
    box-shadow: 0 0 5px 3px #282828;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 65535;
    background: #FFF;
    display: none;
}

.close {
    position: absolute;
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
    margin-top: -17px;
    right: -17px;
}

.block {
    margin: 0px 12px 0 10px;
    color: #080808;
}

.block textarea, .block input[type="text"], .block input[type="email"] {
    width: 100% !important;
    margin: 0 0 10px 0;
    padding: 0 !important;
}

.border_red{
    border: 1px solid red;
}

#reqform{
    margin-top: 12px;
}

#btnSubmit{
    text-align: center;
    width: 100%;
}

#errormsg {
    color: #ff0000;
}

#res {
    margin-top: 10px;
}

#res > p{
    font-weight: bold;
}



#reloadcaptcha {
    content: url('/administrator/images/reload.png');
}
#reloadcaptcha:hover {
    content: url('/administrator/images/reload_f2.png');
    cursor: pointer;
}

